
body {
  background-color: black;
}
.game-board {
  margin-top: 10%;
}

.row {
  margin: 10% 0;
}

.match {
  box-shadow: 0 0 5px 10px #84FB0D;
}

.no-match {
  box-shadow: 0 0 5px 10px red;
}

.status-bar {
  background-color: #FF85B3;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  text-align: center;
}

.status-img {
  border-radius: 10px;
  width: 100%;
  background-color: white;
}

.status-row {
  padding: 1px;
}

.col-1 {
  padding: 2px;
}

.win {
  font-family: lobster, cursive;
  font-size: 5rem;
  color: orange;
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);

}

.win-sm {
  font-family: lobster, cursive;
  font-size: 2rem;
  color: orange;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 0);
}


#end-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

#restart {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (orientation:landscape){
  body {
    height: 35vw;
    width: 100vh;
    overflow-y: hidden;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;``
  }



  .status-row {
    padding: 0;
    margin: 0;
  }

  .card-row {
    margin: 21% 5%;
  }

  .status-bar {
    width: 75%;
    border-radius: 5px;
    transform: rotate(180deg);
  }

  .status-img {
    border-radius: 5px;
    width: 90%;
    margin-bottom: 3px;
    padding: 0;
  }

  .col-1 {
    padding: 0;
  }

  .game-board {
    margin-top: 0;
  }


  img {
    transform: rotate(90deg);
    padding: 2px 0;
  }
}
